.card {
   position: relative;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid rgba(0, 0, 0, .125);
   border-radius: .25rem
}

.card-body {
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   padding: 1.25rem
}

.card-title {
   margin-bottom: .75rem
}

.card-subtitle {
   margin-top: -.375rem;
   margin-bottom: 0
}

.card-text:last-child {
   margin-bottom: 0
}

.card-link:hover {
   text-decoration: none
}

.card-link+.card-link {
   margin-left: 1.25rem
}

.card>.list-group:first-child .list-group-item:first-child {
   border-top-left-radius: .25rem;
   border-top-right-radius: .25rem
}

.card>.list-group:last-child .list-group-item:last-child {
   border-bottom-right-radius: .25rem;
   border-bottom-left-radius: .25rem
}

.card-header {
   padding: .75rem 1.25rem;
   margin-bottom: 0;
   background-color: rgba(0, 0, 0, .03);
   border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
   border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-footer {
   padding: .75rem 1.25rem;
   background-color: rgba(0, 0, 0, .03);
   border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
   border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card-header-tabs {
   margin-right: -.625rem;
   margin-bottom: -.75rem;
   margin-left: -.625rem;
   border-bottom: 0
}

.card-header-pills {
   margin-right: -.625rem;
   margin-left: -.625rem
}

.card-img-overlay {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1.25rem
}

.card-img {
   width: 100%;
   border-radius: calc(.25rem - 1px)
}

.card-img-top {
   width: 100%;
   border-top-left-radius: calc(.25rem - 1px);
   border-top-right-radius: calc(.25rem - 1px)
}

.card-img-bottom {
   width: 100%;
   border-bottom-right-radius: calc(.25rem - 1px);
   border-bottom-left-radius: calc(.25rem - 1px)
}

@media ( min-width :576px) {
   .card-deck {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px
   }
   .card-deck .card {
      display: -ms-flexbox;
      display: flex;
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-right: 15px;
      margin-left: 15px
   }
}

@media ( min-width :576px) {
   .card-group {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap
   }
   .card-group .card {
      -ms-flex: 1 0 0%;
      flex: 1 0 0%
   }
   .card-group .card+.card {
      margin-left: 0;
      border-left: 0
   }
   .card-group .card:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0
   }
   .card-group .card:first-child .card-img-top {
      border-top-right-radius: 0
   }
   .card-group .card:first-child .card-img-bottom {
      border-bottom-right-radius: 0
   }
   .card-group .card:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0
   }
   .card-group .card:last-child .card-img-top {
      border-top-left-radius: 0
   }
   .card-group .card:last-child .card-img-bottom {
      border-bottom-left-radius: 0
   }
   .card-group .card:not (:first-child ):not (:last-child ){
      border-radius: 0
   }
   .card-group .card:not (:first-child ):not (:last-child ) .card-img-bottom,
      .card-group .card:not (:first-child ):not (:last-child ) .card-img-top
      {
      border-radius: 0
   }
}

.card-columns .card {
   margin-bottom: .75rem
}

@media ( min-width :576px) {
   .card-columns {
      -webkit-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 1.25rem;
      column-gap: 1.25rem
   }
   .card-columns .card {
      display: inline-block;
      width: 100%
   }
   
   
.bg-primary {
   background-color: #007bff !important
}

a.bg-primary:focus, a.bg-primary:hover {
   background-color: #0062cc !important
}

.bg-secondary {
   background-color: #868e96 !important
}

a.bg-secondary:focus, a.bg-secondary:hover {
   background-color: #6c757d !important
}

.bg-success {
   background-color: #28a745 !important
}

a.bg-success:focus, a.bg-success:hover {
   background-color: #1e7e34 !important
}

.bg-info {
   background-color: #17a2b8 !important
}

a.bg-info:focus, a.bg-info:hover {
   background-color: #117a8b !important
}

.bg-warning {
   background-color: #ffc107 !important
}

a.bg-warning:focus, a.bg-warning:hover {
   background-color: #d39e00 !important
}

.bg-danger {
   background-color: #dc3545 !important
}

a.bg-danger:focus, a.bg-danger:hover {
   background-color: #bd2130 !important
}

.bg-light {
   background-color: #f8f9fa !important
}

a.bg-light:focus, a.bg-light:hover {
   background-color: #dae0e5 !important
}

.bg-dark {
   background-color: #343a40 !important
}

a.bg-dark:focus, a.bg-dark:hover {
   background-color: #1d2124 !important
}

.bg-white {
   background-color: #fff !important
}

.bg-transparent {
   background-color: transparent !important
}
}